h1 {
  text-align: center;
}

input, label, button {
  display: block;
  width: 100%;
  margin-top: 0.5rem;
}

.form {
  margin: 0 auto;
  width: 40%;
}

.form-label {
  font-size: 1.3rem;
  font-weight: bold;
}

.input {
  padding: 0.5rem;
}

.button {
  padding: 0.5rem;
  background-color: #32fffb;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  border: 1px solid #32fffb;
}

.weather-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.weather-card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 25.10% 0;
  margin: 1rem;
  padding: 1rem;
  align-items: center;
  border: 1px solid #eee;
  box-shadow: 0 2px #ccc;
  border-radius: 4px;
}

.weather-card img {
  width: 50px;
  cursor: pointer;
}

.error-message {
  margin-top: 1rem;
  display: block;
  text-align: center;
  font-size: 1.5rem;
}